---
title: hello world
layout: layout
---
h1 Hello world
p did you know that 2 + 2 = {{2 + 2}}
input type='text' ng-model='name'
p  {{ name }}

.welcome ng-controller="TodoCtrl as todo"
  p  {{ todo.welcome }}
    
